@import url("https://use.typekit.net/gdi4aus.css");

@font-face {
  font-family: noto-emoji;
  src: url(../fonts/NotoEmoji-Regular.ttf);
}

/* TEXT */

body {
	font-family: "cofo-gothic-variable",sans-serif;
  font-variation-settings: 'wght' 400;
	font-style: normal;
	color: black;
	font-size: 20px;
	font-size:calc(15px + .5vw);
	line-height: 1.3;
	letter-spacing: .01em;
	-moz-font-feature-settings: "lnum";
	-webkit-font-feature-settings: "lnum";
	font-feature-settings: "lnum";
	background: #f2f2ec;
	margin: 0;
}

p {
	margin: 0 0 .5em 0;
}

b, strong {
	font-weight: 600;
}

i, em {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "cofo-gothic-variable",sans-serif;
  font-variation-settings: 'wght' 400;
	font-style: normal;
	margin: 0;
	line-height: 1.1;
}

h1 {
	font-size: 2.5em;
	color: black;
}

h2 {
	font-weight: 600;
	font-size: 3em;
	margin-bottom: .3em;
	text-align: center;
}

h3 {
	font-weight: 600;
	font-size: 1.5em;
}

a {
	text-decoration: none;
	color: #74940f;
}

a:hover {
	color: #97b538;
}

nav a {
	padding-right: 1em;
	font-size: 0.8em;
	color: black;
}

h1 a {
	color: black;
}

a.selected:hover {
	color: #97b538;
}

.emoji {
	font-family: noto-emoji;
}

/*nobody steal my image lol*/
img {pointer-events: none;}


/* HEADER CONTENT */

.header {
	display: flex;
	flex-direction: row-reverse;
	margin: 2em 3em;
	justify-content: space-between;
	align-items: baseline;
}

.name {
	z-index: 10;
}

input.toggle {
	display: none;
}

.lbl-toggle {
	flex: 1;
	text-align: right;
	display: none;
	z-index: 10;
	font-size: 1em;
}

span, .lbl-toggle {
	color: black;
}

span:hover, .lbl-toggle:hover:after {
	color: #97b538;
}

.toggle:checked ~ nav {
	width:100vw;
	height:100vh;
	position: fixed;
	overflow-x: hidden;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: white;
	z-index: 2;
}

.toggle:checked ~ nav a {
	padding:0;
}

.toggle:checked + .lbl-toggle {
	position: fixed;
	top:3.25em;
	right:3.1em;
}

.toggle:checked ~ .name {
	position: fixed;
	top: .8em;
	left: 1.2em;
}

.toggle:checked + .lbl-toggle span {
  display: none;
}

.toggle:checked + .lbl-toggle:after {
  content: 'close';
}

/* FOOTER */

.footer {
	text-align: center;
	margin: 2em;
}

/* SELECTED WORKS PAGE */

.book-grid {
	margin: 0 3em;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	gap: 1.75em;
}

.book {	
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.book img {
	flex:1; 
}

.book-end {
  flex-grow: 10;
  width:205px;
  height:0;
  order:1000;
}

#alvarez-bravo img {height:231px;}
#archigram img {height:300px;}
#banisadr img {height:265px;}
#cai img {height:300px;}
#chinese-bronzes img {height:254px;}
#emily-thompson-flowers img {height:265px;}
#emoji img {height:208px;}
#enid-munroe img {height:288px;}
#folk-art img {height:231px;}
#frederic-church img {height:254px;}
#gardens img {height:179px;}
#groundwork img {height:265px;}
#hartl img {height:254px;}
#herrero img {height:265px;}
#hurricane-season img {height:242px;}
#james-prosek img {height:271px;}
#jaramillo img {height:265px;}
#kaws img {height:237px;}
#kiefer img {height:280px;}
#lee-mingwei img {height:237px;}
#manet img {height:265px;}
#marcia-resnick img {height:254px;}
#matthew-wong img {height:265px;}
#mavis-pusey img {height:242px;}
#monets-minutes img {height:254px;}
#new-curators img {height:231px;}
#patricia-treib img {height:242px;}
#portal img {height:283px;}
#raqib-shaw img {height:254px;}
#richard-hunt img {height:277px;}
#ruth-asawa img {height:254px;}
#sheila-hicks img {height:277px;}
#soanr img {height:208px;}
#solid-pictures img {height:248px;}
#sol-lewitt img {height:231px;}
#spirit-house img {height:277px;}
#strike-fast img {height:260px;}
#temkin img {height:208px;}
#the-spiders-way img {height:242px;}
#tigerman img {height:277px;}
#tom-lloyd img {height:271px;}
#transform img {height:254px;}

#groundwork {order: 1;}
#mavis-pusey {order: 2;}
#portal {order: 3;}
#new-curators {order: 4;}
#richard-hunt {order: 5;}
#jaramillo {order: 6;}
#spirit-house {order: 7;}
#ruth-asawa {order: 8;}
#sheila-hicks {order: 9;}
#kaws {order: 10;}
#folk-art {order: 11;}
#james-prosek {order: 12;}
#gardens {order: 13;}
#banisadr {order: 14;}
#lee-mingwei {order: 15;}
#hartl {order: 16;}
#alvarez-bravo {order: 17;}
#archigram {order: 18;}
#soanr {order: 19;}
#emily-thompson-flowers {order: 20;}
#cai {order: 21;}
#chinese-bronzes {order: 22;}
#tom-lloyd {order: 23;}
#temkin {order: 24;}
#the-spiders-way {order: 25;}
#tigerman {order: 26;}
#strike-fast {order: 27;}
#emoji {order: 28;}
#enid-munroe {order: 29;}
#solid-pictures {order: 30;}
#patricia-treib {order: 31;}
#monets-minutes {order: 32;}
#sol-lewitt {order: 33;}
#frederic-church {order: 100;}
#herrero {order: 100;}
#hurricane-season {order: 100;}
#kiefer {order: 100;}
#manet {order: 100;}
#marcia-resnick {order: 100;}
#matthew-wong {order: 100;}
#raqib-shaw {order: 100;}
#transform {order: 100;}

/* ABOUT PAGE */

.about-container {
	display: grid;
	margin: 0 3em 3em 3em;
	gap:2em;
	grid-template-columns: calc(45% - 1em) calc(55% - 1em);

}

.about-text {
	width: 80%;
	margin: auto;
}

.about-container img {
	height: calc(100vh - 10em);
}

/* YALE PAGE CONTENT */

.grid {
	display: grid;
	grid-template-columns: calc(50% - 5px) calc(50% - 5px);
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	margin: 0 3em 10px 3em;
}

.list-image {
	background-color: #f2f2f2;
	width: 100%;
	height: calc(150px + 50vh);
	position: relative;
	overflow: hidden;
}

.hover {
	/*background: gray;*/
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	transition: .4s opacity ease-in-out;
		-webkit-transition: .4s opacity ease-in-out;
		-moz-transition: .4s opacity ease-in-out;
		-o-transition: .4s opacity ease-in-out;
}

.list-image img {
	transition: .4s filter ease-in-out;
		-webkit-transition: .4s filter ease-in-out;
		-moz-transition: .4s filter ease-in-out;
		-o-transition: .4s filter ease-in-out;
	transition: transform .4s ease-in-out;
		-webkit-transition: transform .4s ease-in-out;
		-moz-transition: transform .4s ease-in-out;
		-o-transition: transform .4s ease-in-out;
}

.list-image:hover .hover {
	opacity: .4;
}

.list-image:hover img {
	transform: scale(1.03);
	filter: blur(10px);
}

.list-image:hover .list-text {
	opacity: 1;
}

.list-text {
	color: white;
	letter-spacing: .02em;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	opacity: 0;
	transition: .2s opacity ease-out;
		-webkit-transition: .2s opacity ease-out;
		-moz-transition: .2s opacity ease-out;
		-o-transition: .2s opacity ease-out;
}

/* YALE PROJECT PAGE CONTENT*/

.page-container {
	width: 1200px;
	margin: 0 auto;
}

.text-container {
	width: 60%;
	margin: 3em auto 4em auto;
}

.project-title {
	height: calc(50px + 10vh);
	display: flex;
	align-items: center;
	justify-content: center;
}

.project-img {
	margin: 5px auto;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


/*MEDIA QUERIES*/

@media screen and (max-width: 1320px) {
	.page-container {
		width: calc(100% - 6em);
		padding: 0 3em;
	}
}

@media screen and (max-width: 800px) {
	.page-container {
		width: calc(100% - 60px);
		padding: 0 30px;
	}

	.text-container {
		width: 80%;
	}
	
	.grid {
		grid-template-columns: auto;
		margin-right: 30px;
		margin-left: 30px;
	}

	.about-container {
		display: block;
	}

	.about-text {
	margin-top: 2em;
	}

	.about-container img {
	height: 100%;
	/*object-fit: cover;*/
	}
}

@media screen and (max-width: 640px) {
	.text-container {
		width: 100%;
	}

	.about-text {
	width: 100%;
	}

	.header nav {
		display: none;
	}

	.toggle:checked ~ nav {
		display: flex;
	}

	.lbl-toggle {
		display: block;
		flex: 1;
	}

	.header nav a {
		text-align: center;
		font-size: 1.5em;
		margin-bottom: .5em;
	}

	.book-grid {
		margin: 0 2em;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		gap: 1.5em;
		justify-content: center;
	}

	.book {	
		flex-direction: row;
		flex-grow:0;
	}

	.book img {
		object-fit: contain;
		/*width: 30vw;*/
		height: 45vw !important;
	}

	.book-end {
	  display: none;
	}
}


